
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body, p {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	color:rgb(71, 70, 70);
	/*background-color: #ebfdf8; */
	background-image: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper{
	width: 30%;
	margin-top: 3rem;
	margin-left: 35%;
	/*border: #d9faf1 1px solid;*/
	background-color: #ffffff;
	padding: 1em 2em 2em 2em;
	box-shadow: 2px 2px 15px 0 rgb(75, 77, 76);
}

.wrapper h2{
	font-size: 25px;
	font-weight: lighter;
	text-transform: uppercase;
	/*text-align: center;*/
}

.input-box{
	margin-bottom: 5px;
}

input[type=text] {
	width: 80%;
	padding: 10px 18px;
	box-sizing: border-box;
	outline: none;
}

input[type=email] {
	width: 80%;
	padding: 10px 18px;
	box-sizing: border-box;
	outline: none;
}

input[type=tel] {
	width: 80%;
	padding: 10px 18px;
	box-sizing: border-box;
	outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus {
border: 2px solid #555;
}

input.dob{
	width: 25%;
}

.input-box select{
	width: 35%;
	padding: 10px 18px;
	box-sizing: border-box;
	outline: none;
}




button[type=submit]{
background-color: #008cba;
font-family: inherit;
font-size: 16px;
padding: 20px 20px;
border: none;
transition-duration: 0.4s;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
margin-top: 10px;
color: rgb(238, 238, 238);
width: 100%;
}

